<div class="board">
    <h1>{{title}}</h1>  <!-- 1. 타이틀 영역 -->

    <!-- 2. 검색어 영역 -->
    <div class="search-area">
        <input type="text" name="search" id="search" value="{{search}}" size="50" placeholder="검색어를 입력하세요." />
        <button onclick="location.href=`/?search=${document.getElementById('search').value}`">검색</button>
        <br />
    </div>


    <!-- 3. 글쓰기 페이지 이동 링크 -->
    <div class="write-area">
        <a href="/write"> 글쓰기</a>
        <br />
    </div>

    <!-- 4. 글 목록 -->
    <div>
        <table class="post-list">
            <thead>
            <tr>
                <th style="width: 50%">제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>등록일</th>
            </tr>
            </thead>
            <tbody>
            {{#each posts}}
                <tr>
                    <td style="align-content: center"><a href="/detail/{{_id}}">{{title}}</a></td>
                    <td style="align-content: center">{{writer}}</td>
                    <td style="align-content: center">{{hits}}</td>
                    <td style="align-content: center">{{dateString createdDt}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>


    <!-- 5. 페이징 영역 -->
    <div class="page-nav">
        {{#with paginator}}
            <a href="/?page=1&search={{@root.search}}" class="prev">&lt;&lt;</a>
            {{#if hasPrev}}
                <a href="/?page={{prevPage}}&search={{@root.search}}" class="prev">&lt;</a>
            {{else}}
                <a class="prev">&lt;</a>
            {{/if}}
            {{#each pageList}}
                {{#if (eq this @root.paginator.page)}}
                        <a class="page">{{.}}</a>
                    {{else}}
                    <a href="/?page={{.}}&search={{@root.search}}" class="page">{{.}}</a>
                {{/if}}
            {{/each}}
            <a href="/?page={{nextPage}}&search={{@root.search}}" class="next">&gt;</a>
            <a href="/?page={{lastPage}}&search={{@root.search}}" class="next">&gt;&gt;</a>
        {{/with}}
    </div>
</div>

<style>
    body, h1, table {
        margin: 0;
        padding: 0;
        text-align: center ;
    }

    /* Basic styling */
    body {
        font-family: Arial, sans-serif;
    }


    /* Board styles */
    .board {
        width: 80%;
        margin: 0 auto;
        padding: 20px;

    }
    /* 제목 h1 스타일 */
    h1 {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        padding: 20px 0;
        color: #c0c2dc;
        margin: 0;
        box-sizing: border-box; /* 여백을 포함한 전체 너비를 설정 */
    }


    /* Search area styles */
    .search-area {
        margin: 20px auto;
        padding: 20px 15px;
        border: 1px solid #ddd;
        text-align: center;
        display: flex;
        width: 97%;
    }
    .search-area input {
        flex: 1; /* 남은 공간을 모두 차지 */
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px; /* 좌측 모서리 둥글게 */
        outline: none;
    }

    .search-area button {
        margin-left: 10px;
        padding: 5px 20px;
        font-size: 16px;
        border: 1px solid #ddd;
        background-color: #c0c2dc;
        color: #fff;
        cursor: pointer;
        border-radius: 5px; /* 우측 모서리 둥글게 */
    }

    .search-area button:hover {
        background-color: #989bc7;
    }


    /* Write area styles */
    .write-area {
        text-align: right;
        margin: 10px 0;
        width: 100%
    }

    .write-area a {
        display: inline-block;
        padding: 5px 10px;
        text-decoration: none;
        border: 1px solid #ddd;
        border-radius: 5px;
        color: #fff;

        background-color: #c0c2dc;
    }

    .write-area a:hover {
        background-color: #989bc7;
    }



    /* Post List styles */
    .post-list {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        margin-bottom: 20px;
    }

    .post-list th, .post-list td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        text-decoration: none;  /* 밑줄 제거 */
        color: inherit;         /* 링크 색상을 부모 요소의 색상으로 설정 */
    }
    .post-list td > a {
        text-decoration: none;  /* 밑줄 제거 */
        color: inherit;         /* 링크 색상을 부모 요소의 색상으로 설정 */
    }

    .post-list th {
        background-color: #c0c2dc;
        color: #fff;
    }

    /* Page Navigation styles */
    .page-nav {
        text-align: center;
    }

    .page-nav a {
        display: inline-block;
        margin: 0 5px;
        padding: 5px 10px;
        text-decoration: none;
        border: 1px solid #ddd;
        border-radius: 5px;
        color: #fff;
    }

    .page-nav .page {
        background-color: #c0c2dc;
    }

    .page-nav a:hover {
        background-color: #989bc7;
    }

    .page-nav .prev,
    .page-nav .next {
        font-weight: bold;
        background-color: #adb3c1;
    }
</style>